{
"name": "{{ hostname }}",
"repo": "{{ hostvars[hostname]['repo'] }}",
"task": "{{ hostvars[hostname]['task'] }}",
"broker": "{{ hostvars[hostname]['broker'] }}",
"enabled": true,
"hostname": "{{ fqdn }}",
"root_password": "{{ hostvars[hostname]['root_pw'] }}",
"max_count": 1,
"tags": ["{{ hostname }}"],
"node_metadata": {
    "dns1": "{{ hostvars[hostname]['dns1'] }}",
    "dns2": "{{ hostvars[hostname]['dns2'] }}",
    "time1": "{{ hostvars[hostname]['time1'] }}",
    "gateway": "{{ hostvars[hostname]['gateway'] }}",
    "ipaddress": "{{ hostvars[hostname]['ipaddress'] }}",
    "netmask": "{{ hostvars[hostname]['netmask'] }}",
    "mgmt_nic": "{{ hostvars[hostname]['mgmt_nic'] }}",
    "user_name": "{{ hostvars[hostname]['user_name'] }}",
    "user_password": "{{ hostvars[hostname]['user_pw'] }}"
    }
}
